table, tr, td, th
		{
				border: 1px solid black;
				border-collapse: collapse;
				padding: 5px;
				width: 50%
		}


tr:nth-child(even)
		{
				background-color: #fff8b6;
		}

tr:nth-child(odd)
		{
				background-color: #ffd3b6;
		}


th
		{
				background-color: #d3b6ff;
		}

tr:hover
		{
				background-color: #b6ffd3;
		}

p
		{
				font-family: 'Lobster', cursive;
		}